<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Thank You</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="static/style.css"
        rel="stylesheet">

</head>

<body>
    <header>
        <!-- BRAND NAME -->
        <a href="/" class="logo">Buy Thank You</a>

        <!-- BUTTONS -->
        <div class="header-buttons">
            <a href="/help" class="btn btn-help">Help</a>
            <a href="/payment" class="btn btn-primary">Buy</a>
        </div>
    </header>

{% block content %}
    
{% endblock %}

</body>

</html>