{% extends 'base.html' %}
{% block content %}


<main>
    <!-- Main Text and Button -->
    <div class="hero-content">
        <!-- TEXT -->
        <div class="text-wrapper">
            <h1>Get yourself<br>a</h1>
            <span class="highlight">"Thank You"</span>
        </div>

        <!-- BUTTON -->
        <div class="cta-button">
            <a href="/payment" class="btn btn-cta">BUY</a>
        </div>

    </div>
</main>

<footer>
     <div class="footer">
        <div class="footer-content">
            <h3>Buy Thank You</h3>
            <p>Buy Thank You is a personal website where supporters, friends, or visitors can send money to me as a token of appreciation. Each payment is a way to say thanks, and the sender receives a digital ‘Thank You’ card as acknowledgment. The website is intended for expressing gratitude in a fun and simple way, with all payments handled securely through trusted payment gateways.</p>
            <p><strong>Contact:</strong> <a href="mailto:buythankyou.service@gmail.com" style="color: #ffd700;">buythankyou.service@gmail.com</a></p>
            
            <div class="footer-links">
                <a href="/terms">Terms & Conditions</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/refund">Refund & Cancellation</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}